* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* NAVBAR */
#Navbar {
    color: rgb(199, 156, 95);
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Damion, cursive;
}

.logo-small {
    width: 30px;
    height: 40px;
}

.q1 {
    color: white;
    display: flex;
    gap: 40px;
    margin-right: 16%;
    font-size: small;
    font-weight: 600;
}

.w1 {
    text-decoration: none;
    color: rgb(199, 156, 95);
      transition: box-shadow 0.3s ease;  
    transition: font-size 0.3s ease;
}

.w1:hover {
    transition-duration: 0.3s;
    box-shadow: 0 3px 2px;
    font-size: 14px;
}

.q2 {
    margin-left: 12%;
}

/* HERO SECTION */
.e1 {
    background-color: rgb(41, 40, 39);
    height: 910px;
    text-align: center;
}

.e2 {
    margin-top: -210px;
    font-size: 400%;
    color: rgb(199, 156, 95);
}

.e3 {
    color: white;
    font-family: Damion, cursive;
    font-size: 90%;
   animation: bounce 2s ease-in-out infinite;
    display: block;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(70px);
  }
  50% {
    transform: translateY(50px);
  }
}

.e4 {
    font-size: 90%;
    margin-top: 1%;
    margin-left: 24%;
    margin-right: 24%;
    color: grey;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
}

.highlight {
    color: rgb(199, 156, 95);
}

.details-btn-wrap {
    margin-top: 50px;
}

.details-btn {
    margin-top: -35px;
}

.button {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: rgb(199, 156, 95);
     transition: color 0.3s ease;
}

.button:hover {
    transition: 0.5s;
    color: white;
}

.table-img {
    margin-top:1%;
}

/* Menu */

#Menu {
    display: flex;
    align-items: center;
    font-family: Damion, cursive;
}

.t1 {
    font-weight: 500;
    margin-left: 15%;
    margin-top: 10%;
    color: rgb(199, 156, 95);
}

.t2 {
    color: rgb(199, 156, 95);
}

.part-1{
margin-top: 3%;
margin-left: 15%;
position: relative;
display: flex;
}

.list{
    margin-left: 5%;
    list-style-type:none;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
    text-transform:uppercase;
    line-height: 247%;
    text-align: center;
    top: 1%;
    position: absolute;
}
.text-1{
    text-decoration: none;
    color:rgb(199, 156, 95);
}
.text-2{
    text-decoration: none;
    color:rgb(116, 94, 73);
     transition: color 0.3s ease;
}

.text-2:hover{
    transition: 0.3s;
    color: rgb(199, 156, 95);
}
.box-1{ 
    background-color:rgba(182, 143, 88, 0.137) ;
    font-size:14px;
    margin-left: 3%;
    padding: 1.5%;
    border: 2px solid transparent;
    width: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.am-1{
    margin-bottom: 5%;
}

.am-1:hover{
    transition: 0.3s;   
    cursor: pointer;
    color: rgb(199, 156, 95);
}

.inside-text{
    padding-right: 2%;
    line-height: 20px;
    margin-left: 4%;
}

.op1{
    border: 2px solid rgb(174, 174, 174); 
    border-radius: 50%; 
    padding: 20px 13px; 
}
.op1:hover{
    transition: 0.3s;
    border-color: rgb(199, 156, 95);
}

.price{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(174, 174, 174);
    background-color: rgb(82, 76, 76);
    font-size: 35px;
    border-radius: 50%;
    padding: 6px 4px; 
         
}
.price:hover{
    transition: 0.3s;
    cursor: pointer;
    color:rgb(199, 156, 95) ;
}




#footer{
 margin-top: 5%;
background-color:rgb(48, 47, 47) ;
width: 100%;
height: 250px;
display: flex;
justify-content:space-evenly;
gap: 100px;
padding: 30px;
color: white;
font-size: smaller;
}

.f1{
color: white;
margin-left: 10%;
}
.dot{
    margin-top: 10%;
    line-height:170%;  
}
.ul{
    text-decoration: none;
    color: white;
}
.f2{
    
width: 30%;

}
.f3{
   
    width: 20%;
}